concrete5/*
apache_log
data
/.idea/composerJson.xml
/.idea/dataSources
/.idea/dataSources.local.xml
/.idea/dataSources.xml
/.idea/docker_dev_concrete5_package.iml
/.idea/misc.xml
/.idea/modules.xml
/.idea/remote-mappings.xml
/.idea/vcs.xml
/.idea/webResources.xml
/.idea/workspace.xml
/.idea/dictionaries/lucius.xml
